/* CIT 230 - Assignment Portal CSS Template */

/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 32px;
  font-family: monospace, sans-serif;
  ;
  color: #FC9803;
  ;
  background-color: #F7E9D4;
}

h1 {
  font-size: 3.5rem;
  ;
  color: #341C09;
  ;
}

h2 {
  font-size: 1.5rem;
  ;
  text-align: center;
  border-bottom: 1px solid #bbb;
}

header,
main,
footer {
  margin: 1.25rem auto;
  padding: .5rem;
  max-width: 1000px;
  ;
}

header,
footer,
footer a {
  text-align: center;
  background-color: #FC9803;
  ;
  color: #341C09;
}

header img {
  width: 30%;
  ;
  height: auto;
  float: right;
}

footer {
  font-size: .85rem;
  ;
}
.futurelink {
  color: grey;
}
