@media only screen and (min-width: 64em) {

  body {
    font-size: 1.3rem;
  }

  nav ul {
    font-size: 1.3rem;
  }
  main h2 {
    ;
    font-size: 4.2rem;
  }
  .forecast-container {
    width: 100%;
  }
  .table-top,
  .table-bottom {
    display: inline;
  }
  .highlow,
  .conditions {
    width: 35%;
  }

  .morning,
  .afternoon,
  .evening {
    width: 10%;
  }
  .main-heading p {
    font-size: 2.0rem;
  }
  article img {
    float: right;
    ;
    width: 40%;
  }

}
